@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '/src/styles/utils.css';

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: 4rem auto 3rem;
}

app-body {
  padding: 1.5rem;
}